html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;
}

.banner-content {
  position: absolute;
  bottom: 1.5rem;
  max-width: 50em;
  padding: 0 1.5em;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

h2 {
  display: inline;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  font-size: 4rem;
  line-height: 1.4;
}

p {
  font-size: 2rem;
  color: black;
  font-style: italic;
  margin-bottom: 0;
  margin-top: .5em;
}
